<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-11 col-md-8 col-lg-6 mx-auto">
      <div class="card mt-4 shadow">
        <div class="card-body text-secondary">
          <div class="card-title border-bottom mb-3"><h3>新規登録</h3></div>
          <%= form_with model: @user, url: user_registration_path do |f| %>
            <%= render "member/shared/error_messages", resource: resource %>
            <div class="field">
              <%= f.label :"ニックネーム", class: "form-label" %>|
              <%= f.text_field :nickname, autofocus: true, placeholder: "ヤマタノオロチ", class: "form-control d-inline-block" %>
              <br>
            </div>
            <div class="field">
              <%= f.label :"メールアドレス", class: "form-label" %>
              <%= f.email_field :email, autocomplete: "email", placeholder: "sample1192@example.com", class: "form-control input-text-area" %>
              <br>
            </div>
            <div class="field">
              <%= f.label :"パスワード", class: "form-label" %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-text-area" %>
              <br>
            </div>
            <div class="actions">
              <%= f.submit "新規登録" %>
            </div>
          <% end %>
          <tr>
            <td class="text-center" colspan="10">
              <div class="sign-up-link text-center text-secondary">
                <span><i class="fa-solid fa-caret-right"></i> すでに登録済みの方 <i class="fa-solid fa-caret-left"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="10">
              <%= link_to "ログインはこちら", new_session_path(resource_name) , class: "btn btn-block btn-template input-button input-btn-area" %>
            </td>
          </tr>
        <!--<%= render "member/shared/links" %>-->
        </div>
      </div>
    </div>
  </div>
</div>
