<div class="container mt-2">
  <%= form_tag("/games", method: :get) do %>
    <select name="genre">
      <% Genre.all.each do |g| %>
        <option value="<%= g.id %>"><%= g.name %></option>
      <% end %>
    </select>
    <input type="submit" value="検索" />
  <% end %>
</div>
<div class="album py-5">
  <div class="container">
    <div class="row">
      <% @games.each do |game| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-img-top">
              <%= image_tag game.get_image(300,300), class: 'game-image img-fluid' %>
            </div>
            <div class="card-review">
              <div id="star<%= game.id %>"></div>
            </div>
            <div class="card-title">
              <div class="card-tag">
                <% game.tags.each do |tag| %>
                  <%= link_to "##{tag.tag_name}", admin_games_path(tag_id: tag), class: 'smaller tag-list' %>
                <% end %>
              </div>
              <div class="card-genre">
                <% game.genres.each do |genre| %>
                  <%= genre.genre_name %>
                <% end %>
              </div>
              <p class="card-text"><%= game.title %></p>
              <div class="card-score"><%= game.avg_score %>点（<%= game.reviews.count %>件のレビュー）</div>
              <div class="d-flex justify-content-between align-games-center">
                <div class="btn-group">
                  <div>
                    <%= link_to 'レビューを見る', admin_game_reviews_path(game), class: "btn btn-light text-primary" %>
                  </div>
                  <div>
                    <%= link_to '詳細', admin_game_path(game), class: "btn btn-light text-primary" %>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $('#star<%= game.id %>').empty();
              $('#star<%= game.id %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= game.reviews.average(:score).to_f.round(1) %>,
              });
            </script>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @games %>
  </div>
</div>