<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <h3>ユーザー管理一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class='text-white'><%= user.id %></td>
              <td class='text-white'><%= user.nickname %></td>
              <td class='text-white'><%= user.email %></td>
              <td><%= link_to 'アカウント削除', admin_user_path(user), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @users %>
  </div>
</div>