<div class="container">
  <% @tag_lists.each do |list| %>
    <%= link_to list.tag_name, games_path(tag_id: list.id), class 'tag-list' %>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% @games.each do |game| %>
        <div class="card md-4 shadow-sm">
          <img class="card-img-top">
            <%= image_tag game.get_image(70,70) %>
          </img>
          <div class="card-review">
            <div id="star<%= game.id %>"></div>
          </div>
          <div class="card-title">
            <div class="card-tag">
              <% game.tags.each do |tag| %>
                <%= link_to "##{tag.tag_name}", games_path(tag_id: list.id), class: 'smaller tag-list' %>
              <% end %>
            </div>
            <p class="card-text"><%= game.title %></p>
            <div class="d-flex justify-content-between align-games-center">
              <div class="btn-group">
                <button type="button" class="button button-sm btn-outline-secondary">
                  <%= link_to game_reviews_path(game) do %>
                    レビューを見る
                  <% end %>
                </button>
                <button type="button" class="button button-sm btn-outline-secondary">
                  <% if user_signed_in? %>
                    <% if current_user.email != "guest@example.com" %>
                      <%= link_to game_path(game), class: "button card-footer-item" do %>
                      レビューを書く
                      <% end %>
                    <% end %>
                  <% end %>
                </button>
                <small class="text-muted"><%= game.avg_score %>点（<%= game.reviews.count %>件のレビュー）</small>
              </div>
            </div>
          </div>
          <script>
            $('#star<%= game.id %>').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= game.reviews.average(:score).to_f.round(1) %>,
            });
          </script>
        </div>
      <% end %>
    </div>
  </div>
</div>
