<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table class='table'>
        <tr>
          <td><%= image_tag @game.get_image(100,100) %></td>
          <td><%= @game.title %></td>
          <td><%= @game.body %></td>
        </tr>
      </table>
      <div class="comments_area">
        <%= render 'game_comments/comment', game: @game %>
      </div>
      <div id="new_comment">
        <%= render 'game_comments/comment_form', game: @game, game_comment: @game_comment %>
      </div>
    </div>
  </div>
</div>